<footer class="site-footer">
    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__top-inner">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__column footer-widget__about">
                            <div class="footer-widget__logo">
                                <a href="/"><img src="assets/images/resources/footer-logo.png" alt=""></a>
                            </div>
                            <div class="footer-widget__about-text-box">
                                <p class="footer-widget__about-text">Careon Medical, established in 2025, treats people
                                    for heart and vascular issues respiratory system</p>
                            </div>
                            <div class="site-footer__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__column footer-widget__department">
                            <div class="footer-widget__title-box">
                                <h3 class="footer-widget__title">Our Department</h3>
                            </div>
                            <ul class="footer-widget__services-link-list list-unstyled">
                                <li>
                                    <a href="/wellSpring-wellness-center">WellSpring Wellness Center</a>
                                </li>
                                <li>
                                    <a href="/harmony-family-health-medical">Harmony Family Health Medical</a>
                                </li>
                                <li>
                                    <a href="/evergreen-medical-center">Evergreen Medical Center</a>
                                </li>
                                <li>
                                    <a href="/vitality-health-solutions">Your Partner in Health Where Health
                                        Matters Most</a>
                                </li>
                                <li>
                                    <a href="/pure-life-health-services">Renewal Rehab Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="footer-widget__social-media">
                            <div class="footer-widget__title-box">
                                <h3 class="footer-widget__title">Social Media</h3>
                            </div>
                            <ul class="footer-widget__services-link-list list-unstyled">
                                <li>
                                    <a href="/contact">Facebook</a>
                                </li>
                                <li>
                                    <a href="/contact">Instagram</a>
                                </li>
                                <li>
                                    <a href="/contact">Twitter</a>
                                </li>
                                <li>
                                    <a href="/contact">Pinterest</a>
                                </li>
                                <li>
                                    <a href="/contact">Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__page-link">
                            <h4 class="footer-widget__title">Page</h4>
                            <ul class="footer-widget__services-link-list list-unstyled">
                                <li>
                                    <a href="/about">About Us</a>
                                </li>
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/about">Why Chose Us</a>
                                </li>
                                <li>
                                    <a href="/doctor">Doctors</a>
                                </li>
                                <li>
                                    <a href="/blog">Blog And News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <div class="site-footer__copyright">
                            <p class="site-footer__copyright-text">Copyright ©<%= new Date().getFullYear() %> <a
                                    href="/about">ResQ</a>.
                                All rights reserved.</p>
                        </div>
                        <div class="site-footer__bottom-menu-box">
                            <ul class="list-unstyled site-footer__bottom-menu">
                                <li><a href="/about">Terms & Conditions</a></li>
                                <li><a href="/about">Privacy Policy</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 