<div class="page-wrapper">
  <br />
  <br />

  <br />

  <br />

  <!--Page Header Start-->
  <!-- <section class="page-header">
    <div
      class="page-header__bg"
      style="
        background-image: url(assets/images/backgrounds/page-header-bg.jpg);
      "
    ></div>
    <div class="container">
      <div class="page-header__inner">
        <h3>About Us</h3>
        <div class="thm-breadcrumb__inner">
          <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index-2.html">Home</a></li>
            <li><span class="icon-arrow-left"></span></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div> -->
  </section>

<!--About One Start -->
<section class="about-one about-six">
  <div class="container">
    <div class="about-one__inner">
      <div class="about-one__img-box">
        <div
          class="about-one__content-box wow slideInLeft"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <div
            class="section-title text-left sec-title-animation animation-style2"
          >
            <h6 class="section-title__tagline">
              <span class="icon-broken-bone"></span>About Us
            </h6>
            <h3 class="section-title__title title-animation">
              Dedicated to Your Health and Well-Being
            </h3>
          </div>
          <p class="about-one__text">
            We are committed to delivering quality healthcare services that prioritize
            prevention, treatment, and overall well-being. Our mission is to ensure that
            every individual receives compassionate and professional care.
          </p>
          <ul class="about-one__points-box list-unstyled">
            <li>
              <div class="icon">
                <span class="icon-left-arrows"></span>
              </div>
              <p>Your Health, Our Priority</p>
            </li>
            <li>
              <div class="icon">
                <span class="icon-left-arrows"></span>
              </div>
              <p>Committed to Caring, Driven by Compassion</p>
            </li>
          </ul>
        </div>
        <div class="about-one__img">
          <img src="assets/images/resources/about-one-img-1.jpg" alt="" />
        </div>
        <div
          class="about-one__working-hour wow slideInRight"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <h3 class="about-one__working-hour-title">Working Hours</h3>
          <ul class="about-one__working-hour-list list-unstyled">
            <li>
              <span>Saturday – Sunday</span>
              <p>9:00 AM – 5:00 PM</p>
            </li>
            <li>
              <span>Monday – Tuesday</span>
              <p>1:00 PM – 7:00 PM</p>
            </li>
            <li>
              <span>Wednesday – Thursday</span>
              <p>2:00 AM – 6:00 PM</p>
            </li>
            <li>
              <span>Friday</span>
              <p>Closed</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About One End -->

  <!--Counter One Start -->
  <section class="counter-one">
    <div class="container">
      <div class="counter-one__inner">
        <ul class="counter-one__count-list list-unstyled">
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="600">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Complte<br />
                Project
              </p>
            </div>
          </li>
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="200">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Team<br />
                Member
              </p>
            </div>
          </li>
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="500">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Clients<br />
                Reviews
              </p>
            </div>
          </li>
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="50">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Winning<br />
                award
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--Counter One End -->

<!--Why Choose One Start -->
<section class="why-choose-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="why-choose-one__left">
          <div
            class="section-title-two text-left sec-title-animation animation-style2"
          >
            <h6 class="section-title-two__tagline">Why Choose Us</h6>
            <h3 class="section-title-two__title title-animation">
              Your Health Companion in Every Situation
            </h3>
          </div>
          <p class="why-choose-one__text-1">
            From scheduling reminders to emergency help, we simplify health management for everyone. No more missed meds, delayed care, or unanswered queries.
          </p>
          <ul class="why-choose-one__progress-list list-unstyled">
            <li>
              <div class="why-choose-one__progress">
                <h4 class="why-choose-one__progress-title">
                  20-Min Medicine Delivery Coverage
                </h4>
                <div class="bar">
                  <div class="bar-inner count-bar" data-percent="90%">
                    <div class="count-text">90%</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="why-choose-one__progress">
                <h4 class="why-choose-one__progress-title">
                  Real-Time Emergency Response Efficiency
                </h4>
                <div class="bar">
                  <div class="bar-inner count-bar" data-percent="85%">
                    <div class="count-text">85%</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <p class="why-choose-one__text-2">
            We aim to bridge the gap between patients and healthcare services with fast, intelligent, and reliable support — anytime, anywhere.
          </p>
          <div class="why-choose-one__btn-and-call-box">
            <div class="why-choose-one__btn-box">
              <a href="contact.html" class="thm-btn"
                >Explore Features <span class="icon-plus"></span>
              </a>
            </div>
            <div class="why-choose-one__call-box">
              <div class="why-choose-one__call-icon">
                <span class="icon-call"></span>
              </div>
              <div class="why-choose-one__call-content">
                <span>Emergency Helpline</span>
                <p><a href="tel:102">Call 102 Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div
          class="why-choose-one__right wow slideInRight"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <div class="why-choose-one__img">
            <img
              src="assets/images/resources/why-choose-one-img-1.png"
              alt="why choose health platform"
            />
            <div class="why-choose-one__img-shape-1">
              <img
                src="assets/images/shapes/why-choose-one-img-shape-1.png"
                alt="decorative shape"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Why Choose One End -->

  <!--Sliding Text Two Start-->
  <section class="sliding-text-two">
    <div class="sliding-text-two__inner">
      <ul class="sliding-text-two__list marquee_mode-1 list-unstyled">
        <li>
          <p>Health Services</p>
          <div class="icon">
            <span class="icon-injection"></span>
          </div>
        </li>
        <li>
          <p>Medical Group</p>
          <div class="icon">
            <span class="icon-injection-2"></span>
          </div>
        </li>
        <li>
          <p>Wellness Center</p>
          <div class="icon">
            <span class="icon-injection"></span>
          </div>
        </li>
        <li>
          <p>Health Success</p>
          <div class="icon">
            <span class="icon-injection"></span>
          </div>
        </li>
        <li>
          <p>Digital Service</p>
          <div class="icon">
            <span class="icon-quaity-care-4"></span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--Sliding Text Two End-->

<!--Feature One Start -->
<section class="feature-one">
  <div class="container">
    <div class="feature-one__inner">
      <div class="section-title text-center sec-title-animation animation-style1">
        <h6 class="section-title__tagline">
          <span class="icon-broken-bone"></span>Our Feature
        </h6>
        <h3 class="section-title__title title-animation">
          Your Wellness, Our Priority<br />
          Empowering Healthier
        </h3>
      </div>
      <ul class="feature-one__feature-list list-unstyled">
        <li class="wow fadeInLeft" data-wow-delay="100ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="wellSpring-wellness-center.html">Quality Care </a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="wellSpring-wellness-center.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInRight" data-wow-delay="200ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care-2"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="evergreen-medical-center.html">Enhancing Quality Care</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="evergreen-medical-center.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInLeft" data-wow-delay="300ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care-3"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="pure-life-health-services.html">Lives Through Care</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="pure-life-health-services.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInRight" data-wow-delay="400ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care-4"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="vitality-health-solutions.html">Compassionate Care</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="vitality-health-solutions.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInLeft" data-wow-delay="500ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="integrated-health-hub.html">Integrated Health Hub</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="integrated-health-hub.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInRight" data-wow-delay="600ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care-2"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="family-health-network.html">Family Health Network</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="family-health-network.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInLeft" data-wow-delay="700ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care-3"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="trusted-care-associates.html">Trusted Care Associates</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="trusted-care-associates.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
        <li class="wow fadeInRight" data-wow-delay="800ms">
          <div class="feature-one__feature-list-left">
            <div class="feature-one__feature-list-icon">
              <span class="icon-quaity-care-4"></span>
            </div>
            <h3 class="feature-one__feature-list-title">
              <a href="healing-hands-center.html">Healing Hands Center</a>
            </h3>
          </div>
          <div class="feature-one__feature-list-right">
            <p class="feature-one__feature-list-sub-title">ResQ Clinic</p>
            <div class="feature-one__feature-list-arrow">
              <a href="healing-hands-center.html"><span class="icon-arrow-up"></span></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--Feature One End -->

<!--Testimonial Six Start-->
<section class="testimonial-six">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div
          class="testimonial-six__left wow slideInLeft"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <div class="testimonial-six__img">
            <img
              src="assets/images/testimonial/testimonial-six-img-1.png"
              alt=""
            />
            <div class="testimonial-six__count-box">
              <div class="testimonial-six__count">
                <h3 class="odometer" data-count="50">00</h3>
                <span>+</span>
              </div>
              <p class="testimonial-six__count-text">
                Winning <br />
                award
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="testimonial-six__right">
          <div
            class="section-title text-left sec-title-animation animation-style2"
          >
            <h6 class="section-title__tagline">
              <span class="icon-broken-bone"></span>Clients Testimonial
            </h6>
            <h3 class="section-title__title title-animation">
              Enhancing Lives Through Care Your Partner
            </h3>
          </div>
          <p class="testimonial-six__text-1">
            Health care is a vital aspect of maintaining overall well-being,
            encompassing a range encompassing a range of services from
            preventive care
          </p>
          <div class="testimonial-six__carousel owl-theme owl-carousel">
            <!--Testimonial Six Single Start-->
            <div class="item">
              <div class="testimonial-six__single">
                <div class="testimonial-six__quote">
                  <span class="icon-quote"></span>
                </div>
                <div class="testimonial-six__ratting">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star icon-star-color"></span>
                  <span class="icon-star icon-star-color"></span>
                </div>
                <p class="testimonial-six__text">
                  ResQ has transformed the way we approach patient care.
                  Their dedication and expertise are unmatched.
                </p>
                <div class="testimonial-six__client-info">
                  <h4>
                    <a href="testimonials.html">Dr. Donald Williamson</a>
                  </h4>
                  <p>Eye Expert</p>
                </div>
              </div>
            </div>
            <!--Testimonial Six Single End-->

            <!--Testimonial Six Single Start-->
            <div class="item">
              <div class="testimonial-six__single">
                <div class="testimonial-six__quote">
                  <span class="icon-quote"></span>
                </div>
                <div class="testimonial-six__ratting">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star icon-star-color"></span>
                  <span class="icon-star icon-star-color"></span>
                </div>
                <p class="testimonial-six__text">
                  Exceptional service and compassionate professionals. I felt
                  heard and cared for every step of the way.
                </p>
                <div class="testimonial-six__client-info">
                  <h4>
                    <a href="testimonials.html">Dr. Donald Williamson</a>
                  </h4>
                  <p>Eye Expert</p>
                </div>
              </div>
            </div>
            <!--Testimonial Six Single End-->

            <!--Testimonial Six Single Start-->
            <div class="item">
              <div class="testimonial-six__single">
                <div class="testimonial-six__quote">
                  <span class="icon-quote"></span>
                </div>
                <div class="testimonial-six__ratting">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star icon-star-color"></span>
                  <span class="icon-star icon-star-color"></span>
                </div>
                <p class="testimonial-six__text">
                  I trust ResQ completely with my family's health needs.
                  Their commitment is truly inspiring.
                </p>
                <div class="testimonial-six__client-info">
                  <h4>
                    <a href="testimonials.html">Dr. Donald Williamson</a>
                  </h4>
                  <p>Eye Expert</p>
                </div>
              </div>
            </div>
            <!--Testimonial Six Single End-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Testimonial Six End-->

<%# include('./components/feature-section') %>
