<div class="page-wrapper">
    <br />
    <br />
    <br />
    <br />
    <br />
  
    <!-- Page Header -->
    <!-- 
    <section class="page-header">
      <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
      </div>
      <div class="container">
        <div class="page-header__inner">
          <h3>Contact</h3>
          <div class="thm-breadcrumb__inner">
            <ul class="thm-breadcrumb list-unstyled">
              <li><a href="/">Home</a></li>
              <li><span class="icon-arrow-left"></span></li>
              <li>Shop</li>
            </ul>
          </div>
        </div>
      </div>
    </section> 
    -->
  
    <!-- Main Content Section with Products -->
    <section class="services-one">
      <div class="container">
        <div class="section-title text-center">
          <br />
          <h2 class="section-title__title">Your Wishlist</h2>
          <p class="section-title__text">
            Meds and health products with delivery in under 20 minutes
          </p>
        </div>
  
        <!-- Coming Soon Banner -->
        <div class="row">
          <div class="col-xl-12">
            <div class="error-page__form-box" style="margin-bottom: 40px">
              <div
                class="error-page__form-inner"
                style="
                  background-color: #ef476f;
                  color: white;
                  padding: 20px;
                  border-radius: 10px;
                "
              >
                <h4 style="margin-bottom: 10px">
                  🚧 Our Shop is Under Construction
                </h4>
                <p style="margin-bottom: 0">
                  We're working on launching our medicine delivery service that
                  will bring medications to your doorstep in under 20 minutes!
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>
            <!--Contact Page Start-->
            <section class="contact-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            <div class="contact-page__left">
                                <h3 class="contact-page__title">Appiontment Now</h3>
                                <form class="contact-form-validated contact-page__form" action="https://html.themehealer.com/careon/assets/inc/sendemail.php"
                                    method="post" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact-page__input-box">
                                                <input type="text" name="name" placeholder="Your Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact-page__input-box">
                                                <input type="email" name="Email" placeholder="Your Email" required="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact-page__input-box">
                                                <input type="text" name="number" placeholder="Your Number" required="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact-page__input-box">
                                                <input type="text" placeholder="mm/dd/yyy" name="date" id="datepicker">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-page__input-box text-message-box">
                                                <textarea name="message" placeholder="Message here.."></textarea>
                                            </div>
                                            <div class="contact-page__btn-box">
                                                <button type="submit" class="thm-btn">Appointment Now <span
                                                        class="icon-plus"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5">
                            <div class="contact-page__right">
                                <div class="section-title text-left sec-title-animation animation-style2">
                                    <h6 class="section-title__tagline"><span class="icon-broken-bone"></span>Get In Touch
                                    </h6>
                                    <h3 class="section-title__title title-animation">Health First Always
                                    </h3>
                                </div>
                                <p class="contact-page__text">Health care is a vital aspect of maintaining overall wel
                                    encompassing a range of services from preventive care to treatment </p>
                                <ul class="contact-page__contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-call"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Phone</h3>
                                            <p><a href="tel:0123456789101">012 345 678 9101</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-envolope"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Email</h3>
                                            <p><a href="mailto:jon12@gmail.com">jon12@gmail.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pin"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Location</h3>
                                            <p>Mirour 10 Dhaka</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Contact Page End-->
    
  </div> <!-- ✅ Properly closing page-wrapper -->
  