<div class="page-wrapper">
  <!-- Banner One Start -->
  <section class="main-slider">
    <div
      class="swiper-container thm-swiper__slider"
      data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
            "delay": 8000
        } 
    }'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="main-slider__shape-1"></div>
          <div class="main-slider__shape-2"></div>
          <div class="main-slider__shape-3"></div>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Quick-Med Delivery</p>
                  <h2 class="main-slider__title">
                    Emergency <br />
                    Healthcare<br>
                    <span
                      >At Your <br />
                      Doorstep</span
                    >
                  </h2>
                  <p class="main-slider__text">
                    Get emergency medications delivered to your doorstep in  <br />
                    under 20 minutes, with our reliable and professional  <br />healthcare delivery service
                  </p>
                  <div class="main-slider__btn-and-video-box">
                    <div class="main-slider__btn-box">
                      <a href="/shop" class="thm-btn"
                        >Shop Now <span class="icon-plus"></span>
                      </a>
                    </div>
                    <div class="main-slider__video-box">
                      <div class="main-slider__video-link">
                        <a
                          href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
                          class="video-popup"
                        >
                          <div class="main-slider__video-icon">
                            <span class="fa fa-play"></span>
                            <i class="ripple"></i>
                          </div>
                        </a>
                      </div>
                      <h4 class="main-slider__video-title">Watch Video</h4>
                    </div>
                  </div>
                  <div class="main-slider__img-box">
                    <div class="main-slider__img">
                      <img
                        src="assets/images/resources/main-slider-img-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="main-slider__call">
                      <a href="tel:+651245874554"
                        ><span class="icon-call"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider__shape-1"></div>
          <div class="main-slider__shape-2"></div>
          <div class="main-slider__shape-3"></div>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Medical Alerts</p>
                  <h2 class="main-slider__title">
                    Never Miss <br />
                    Important<br />
                    <span
                      >Medical <br />
                      Reminders</span
                    >
                  </h2>
                  <p class="main-slider__text">
                    Set up personalized medication and appointment reminders, <br />
                    ensuring you never miss critical healthcare schedules
                  </p>
                  <div class="main-slider__btn-and-video-box">
                    <div class="main-slider__btn-box">
                      <a href="/reminders" class="thm-btn"
                        >Set Reminders <span class="icon-plus"></span>
                      </a>
                    </div>
                    <div class="main-slider__video-box">
                      <div class="main-slider__video-link">
                        <a
                          href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
                          class="video-popup"
                        >
                          <div class="main-slider__video-icon">
                            <span class="fa fa-play"></span>
                            <i class="ripple"></i>
                          </div>
                        </a>
                      </div>
                      <h4 class="main-slider__video-title">Watch Video</h4>
                    </div>
                  </div>
                  <div class="main-slider__img-box">
                    <div class="main-slider__img">
                      <img
                        src="assets/images/resources/main-slider-img-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="main-slider__call">
                      <a href="tel:+651245874554"
                        ><span class="icon-call"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider__shape-1"></div>
          <div class="main-slider__shape-2"></div>
          <div class="main-slider__shape-3"></div>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <p class="main-slider__sub-title">Virtual Consultations</p>
                  <h2 class="main-slider__title">
                    Professional <br />
                    Healthcare<br />
                    <span
                      >From <br />
                      Home</span
                    >
                  </h2>
                  <p class="main-slider__text">
                    Connect with certified healthcare professionals through <br />
                    video calls, receive prescriptions and medical advice <br />without leaving home
                  </p>
                  <div class="main-slider__btn-and-video-box">
                    <div class="main-slider__btn-box">
                      <a href="/appointments" class="thm-btn"
                        >Book Appointment <span class="icon-plus"></span>
                      </a>
                    </div>
                    <div class="main-slider__video-box">
                      <div class="main-slider__video-link">
                        <a
                          href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
                          class="video-popup"
                        >
                          <div class="main-slider__video-icon">
                            <span class="fa fa-play"></span>
                            <i class="ripple"></i>
                          </div>
                        </a>
                      </div>
                      <h4 class="main-slider__video-title">Watch Video</h4>
                    </div>
                  </div>
                  <div class="main-slider__img-box">
                    <div class="main-slider__img">
                      <img
                        src="assets/images/resources/main-slider-img-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="main-slider__call">
                      <a href="tel:+651245874554"
                        ><span class="icon-call"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination" id="main-slider-pagination"></div>
      <!-- If we need navigation buttons -->
    </div>
  </section>

  <section class="sliding-text">
    <div class="sliding-text__inner">
      <ul class="sliding-text__list marquee_mode-1 list-unstyled">
        <li>
          <p>Get reminders for your medication and appointments with our app.</p>
        </li>
        <li>
          <p>Book an ambulance in emergency situations with just a few clicks.</p>
        </li>
        <li>
          <p>Get your medicines delivered to your doorstep within 20 minutes.</p>
        </li>
        <li>
          <p>Find and book appointments with top doctors in your area.</p>
        </li>
        <li>
          <p>Check availability of hospital beds and plan your visit accordingly.</p>
        </li>
      </ul>
    </div>
  </section>

<!--Services Two Start-->
<section class="services-two">
  <div class="container">
    <div
      class="section-title-two text-center sec-title-animation animation-style1"
    >
      <h6 class="section-title-two__tagline">What We Offer</h6>
      <h3 class="section-title-two__title title-animation">
        One-Stop Health Assistant<br />
        Care, Reminders & Rapid Support
      </h3>
    </div>
    <div class="services-two__inner">
      <ul class="row list-unstyled">
        <!--Services Two Single Start-->
        <li class="col-xl-4 col-lg-4">
          <div class="services-two__single">
            <h3 class="services-two__title">
              <a href="med-reminder.html">Smart Med Reminder</a>
            </h3>
            <div class="services-two__icon">
              <span class="icon-pills"></span>
            </div>
            <p class="services-two__text">
              Get daily medicine reminders and appointment alerts<br />
              so you never miss a dose or doctor visit.
            </p>
            <div class="services-two__btn-box">
              <a href="med-reminder.html" class="thm-btn"
                >Read More <span class="icon-plus"></span>
              </a>
            </div>
          </div>
        </li>
        <!--Services Two Single End-->

        <!--Services Two Single Start-->
        <li class="col-xl-4 col-lg-4">
          <div class="services-two__single">
            <h3 class="services-two__title">
              <a href="med-delivery.html">20-Min Med Delivery</a>
            </h3>
            <div class="services-two__icon">
              <span class="icon-broken-bone"></span>
            </div>
            <p class="services-two__text">
              Order essential medicines from nearby stores<br />
              and get them delivered in just 20 minutes.
            </p>
            <div class="services-two__btn-box">
              <a href="med-delivery.html" class="thm-btn"
                >Read More <span class="icon-plus"></span>
              </a>
            </div>
          </div>
        </li>
        <!--Services Two Single End-->

        <!--Services Two Single Start-->
        <li class="col-xl-4 col-lg-4">
          <div class="services-two__single">
            <h3 class="services-two__title">
              <a href="emergency-support.html">Emergency & Enquiries</a>
            </h3>
            <div class="services-two__icon">
              <span class="icon-pills-3"></span>
            </div>
            <p class="services-two__text">
              Book ambulances, check hospital bed status,<br />
              and get quick info about doctors and availability.
            </p>
            <div class="services-two__btn-box">
              <a href="emergency-support.html" class="thm-btn"
                >Read More <span class="icon-plus"></span>
              </a>
            </div>
          </div>
        </li>
        <!--Services Two Single End-->
      </ul>
    </div>
  </div>
</section>
<!--Services Two End-->

  <!--Sliding Text Two Start-->
  <section class="sliding-text-two">
    <div class="sliding-text-two__inner">
      <ul class="sliding-text-two__list marquee_mode-1 list-unstyled">
        <li>
          <p>Health Services</p>
          <div class="icon">
            <span class="icon-injection"></span>
          </div>
        </li>
        <li>
          <p>Medical Group</p>
          <div class="icon">
            <span class="icon-injection-2"></span>
          </div>
        </li>
        <li>
          <p>Wellness Center</p>
          <div class="icon">
            <span class="icon-injection"></span>
          </div>
        </li>
        <li>
          <p>Health Success</p>
          <div class="icon">
            <span class="icon-injection"></span>
          </div>
        </li>
        <li>
          <p>Digital Service</p>
          <div class="icon">
            <span class="icon-quaity-care-4"></span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--Sliding Text Two End-->

  <!--Project Two Start -->
  <section class="project-two">
    <div class="container">
      <div
        class="section-title-two text-center sec-title-animation animation-style1"
      >
        <h6 class="section-title-two__tagline">Latest project</h6>
        <h3 class="section-title-two__title title-animation">
          Your Wellness Our Priority <br />
          Healthier Lives
        </h3>
      </div>
      <div class="project-two__menu-box">
        <ul
          class="project-filter clearfix post-filter has-dynamic-filters-counter list-unstyled"
        >
          <li data-filter=".filter-item" class="active">
            <span class="filter-text">View All</span>
          </li>
          <li data-filter=".bodysurgery">
            <span class="filter-text">Body Surgery</span>
          </li>
          <li data-filter=".dentalcare">
            <span class="filter-text">Dental Care</span>
          </li>
          <li data-filter=".allergicissue">
            <span class="filter-text">Allergic Issue</span>
          </li>
          <li data-filter=".eyecare">
            <span class="filter-text">Eye Care</span>
          </li>
        </ul>
      </div>
      <div class="row filter-layout masonary-layout">
        <!--Project Two Single End-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 filter-item bodysurgery allergicissue"
        >
          <div class="project-two__single">
            <div class="project-two__img-box">
              <div class="project-two__img">
                <img src="assets/images/project/project-2-1.jpg" alt="#" />
              </div>
              <div class="project-two__content-box">
                <h2 class="project-two__title">
                  <a href="project-details.html">Medi Treatment</a>
                </h2>
                <p class="project-two__sub-title">Medicine</p>
              </div>
            </div>
          </div>
        </div>
        <!--Project Two Single Start-->
        <!--Project Two Single End-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 filter-item dentalcare bodysurgery allergicissue"
        >
          <div class="project-two__single">
            <div class="project-two__img-box">
              <div class="project-two__img">
                <img src="assets/images/project/project-2-2.jpg" alt="#" />
              </div>
              <div class="project-two__content-box">
                <h2 class="project-two__title">
                  <a href="project-details.html">Medi Treatment</a>
                </h2>
                <p class="project-two__sub-title">Medicine</p>
              </div>
            </div>
          </div>
        </div>
        <!--Project Two Single Start-->
        <!--Project Two Single End-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 filter-item allergicissue eyecare"
        >
          <div class="project-two__single">
            <div class="project-two__img-box">
              <div class="project-two__img">
                <img src="assets/images/project/project-2-3.jpg" alt="#" />
              </div>
              <div class="project-two__content-box">
                <h2 class="project-two__title">
                  <a href="project-details.html">Medi Treatment</a>
                </h2>
                <p class="project-two__sub-title">Medicine</p>
              </div>
            </div>
          </div>
        </div>
        <!--Project Two Single Start-->
        <!--Project Two Single End-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 filter-item eyecare bodysurgery allergicissue"
        >
          <div class="project-two__single">
            <div class="project-two__img-box">
              <div class="project-two__img">
                <img src="assets/images/project/project-2-4.jpg" alt="#" />
              </div>
              <div class="project-two__content-box">
                <h2 class="project-two__title">
                  <a href="project-details.html">Medi Treatment</a>
                </h2>
                <p class="project-two__sub-title">Medicine</p>
              </div>
            </div>
          </div>
        </div>
        <!--Project Two Single Start-->
        <!--Project Two Single End-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 filter-item dentalcare bodysurgery allergicissue"
        >
          <div class="project-two__single">
            <div class="project-two__img-box">
              <div class="project-two__img">
                <img src="assets/images/project/project-2-6.jpg" alt="#" />
              </div>
              <div class="project-two__content-box">
                <h2 class="project-two__title">
                  <a href="project-details.html">Medi Treatment</a>
                </h2>
                <p class="project-two__sub-title">Medicine</p>
              </div>
            </div>
          </div>
        </div>
        <!--Project Two Single Start-->
        <!--Project Two Single End-->
        <div
          class="col-xl-4 col-lg-4 col-md-6 filter-item eyecare bodysurgery allergicissue"
        >
          <div class="project-two__single">
            <div class="project-two__img-box">
              <div class="project-two__img">
                <img src="assets/images/project/project-2-5.jpg" alt="#" />
              </div>
              <div class="project-two__content-box">
                <h2 class="project-two__title">
                  <a href="project-details.html">Medi Treatment</a>
                </h2>
                <p class="project-two__sub-title">Medicine</p>
              </div>
            </div>
          </div>
        </div>
        <!--Project Two Single Start-->
      </div>
    </div>
  </section>
  <!--Project Two End -->

  <!--Counter One Start -->
  <section class="counter-one">
    <div class="container">
      <div class="counter-one__inner">
        <ul class="counter-one__count-list list-unstyled">
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="600">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Complte<br />
                Project
              </p>
            </div>
          </li>
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="200">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Team<br />
                Member
              </p>
            </div>
          </li>
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="500">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Clients<br />
                Reviews
              </p>
            </div>
          </li>
          <li>
            <div class="counter-one__count-single">
              <div class="counter-one__count-box">
                <h3 class="odometer" data-count="50">00</h3>
                <span>+</span>
              </div>
              <p class="counter-one__count-text">
                Winning<br />
                award
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--Counter One End -->

<!--Why Choose One Start -->
<section class="why-choose-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="why-choose-one__left">
          <div
            class="section-title-two text-left sec-title-animation animation-style2"
          >
            <h6 class="section-title-two__tagline">Why Choose Us</h6>
            <h3 class="section-title-two__title title-animation">
              Your Health Companion in Every Situation
            </h3>
          </div>
          <p class="why-choose-one__text-1">
            From scheduling reminders to emergency help, we simplify health management for everyone. No more missed meds, delayed care, or unanswered queries.
          </p>
          <ul class="why-choose-one__progress-list list-unstyled">
            <li>
              <div class="why-choose-one__progress">
                <h4 class="why-choose-one__progress-title">
                  20-Min Medicine Delivery Coverage
                </h4>
                <div class="bar">
                  <div class="bar-inner count-bar" data-percent="90%">
                    <div class="count-text">90%</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="why-choose-one__progress">
                <h4 class="why-choose-one__progress-title">
                  Real-Time Emergency Response Efficiency
                </h4>
                <div class="bar">
                  <div class="bar-inner count-bar" data-percent="85%">
                    <div class="count-text">85%</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <p class="why-choose-one__text-2">
            We aim to bridge the gap between patients and healthcare services with fast, intelligent, and reliable support — anytime, anywhere.
          </p>
          <div class="why-choose-one__btn-and-call-box">
            <div class="why-choose-one__btn-box">
              <a href="contact.html" class="thm-btn"
                >Explore Features <span class="icon-plus"></span>
              </a>
            </div>
            <div class="why-choose-one__call-box">
              <div class="why-choose-one__call-icon">
                <span class="icon-call"></span>
              </div>
              <div class="why-choose-one__call-content">
                <span>Emergency Helpline</span>
                <p><a href="tel:102">Call 102 Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div
          class="why-choose-one__right wow slideInRight"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <div class="why-choose-one__img">
            <img
              src="assets/images/resources/why-choose-one-img-1.png"
              alt="why choose health platform"
            />
            <div class="why-choose-one__img-shape-1">
              <img
                src="assets/images/shapes/why-choose-one-img-shape-1.png"
                alt="decorative shape"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Why Choose One End -->

  <!--Team Two Start -->
  <section class="team-two">
    <div class="container">
      <div
        class="section-title-two text-center sec-title-animation animation-style1"
      >
        <h6 class="section-title-two__tagline">Our Team Member</h6>
        <h3 class="section-title-two__title title-animation">
          Trust in Health Caring Every<br />
          Step Heal with Heart
        </h3>
      </div>
      <div class="row">
        <!--Team Two Single Start-->
        <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms">
          <div class="team-two__single">
            <div class="team-two__img-box">
              <div class="team-two__img">
                <img src="assets/images/team/team-2-1.jpg" alt="" />
              </div>
              <div class="team-two__plus-and-social">
                <div class="team-two__plus">
                  <span class="icon-plus"></span>
                </div>
                <div class="team-two__social">
                  <a href="doctor-details.html"
                    ><span class="icon-facebook"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-twitter"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-instagram"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-pinterest"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="team-two__content">
              <h3 class="team-two__title">
                <a href="doctor-details.html">Dr.Abu Huraira</a>
              </h3>
              <p class="team-two__sub-title">Neurology Expert</p>
            </div>
          </div>
        </div>
        <!--Team Two Single End-->
        <!--Team Two Single Start-->
        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
          <div class="team-two__single">
            <div class="team-two__img-box">
              <div class="team-two__img">
                <img src="assets/images/team/team-2-2.jpg" alt="" />
              </div>
              <div class="team-two__plus-and-social">
                <div class="team-two__plus">
                  <span class="icon-plus"></span>
                </div>
                <div class="team-two__social">
                  <a href="doctor-details.html"
                    ><span class="icon-facebook"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-twitter"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-instagram"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-pinterest"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="team-two__content">
              <h3 class="team-two__title">
                <a href="doctor-details.html">Dr.Raima Mitra</a>
              </h3>
              <p class="team-two__sub-title">Dental Care</p>
            </div>
          </div>
        </div>
        <!--Team Two Single End-->
        <!--Team Two Single Start-->
        <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
          <div class="team-two__single">
            <div class="team-two__img-box">
              <div class="team-two__img">
                <img src="assets/images/team/team-2-3.jpg" alt="" />
              </div>
              <div class="team-two__plus-and-social">
                <div class="team-two__plus">
                  <span class="icon-plus"></span>
                </div>
                <div class="team-two__social">
                  <a href="doctor-details.html"
                    ><span class="icon-facebook"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-twitter"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-instagram"></span
                  ></a>
                  <a href="doctor-details.html"
                    ><span class="icon-pinterest"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="team-two__content">
              <h3 class="team-two__title">
                <a href="doctor-details.html">Dr.I Dont Know</a>
              </h3>
              <p class="team-two__sub-title">Eye Expert</p>
            </div>
          </div>
        </div>
        <!--Team Two Single End-->
      </div>
    </div>
  </section>
  <!--Team Two End -->

  <!--Appiontment One Start -->
  <section class="appiontment-one">
    <div class="container">
      <div class="appiontment-one__inner">
        <div class="appiontment-one__img">
          <img src="assets/images/resources/appiontment-one-img-1.jpg" alt="" />
          <div class="appiontment-one__appoin-and-working-hour">
            <div
              class="appiontment-one__appion-box wow slideInLeft"
              data-wow-delay="100ms"
              data-wow-duration="2500ms"
            >
              <h3 class="appiontment-one__appion-title">Appiontment Now</h3>
              <form
                class="contact-form-validated appiontment-one__appion-form"
                action="https://html.themehealer.com/careon/assets/inc/sendemail.php"
                method="post"
                novalidate="novalidate"
              >
                <div class="row">
                  <div class="col-xl-12">
                    <div class="appiontment-one__appion-input-box">
                      <input
                        type="text"
                        name="name"
                        placeholder="Your Name"
                        required=""
                      />
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="appiontment-one__appion-input-box">
                      <input
                        type="email"
                        name="Email"
                        placeholder="Your Email"
                        required=""
                      />
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="appiontment-one__appion-input-box">
                      <input
                        type="text"
                        name="number"
                        placeholder="Your Number"
                        required=""
                      />
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div
                      class="appiontment-one__appion-input-box text-message-box"
                    >
                      <textarea
                        name="message"
                        placeholder="Message here.."
                      ></textarea>
                    </div>
                    <div class="appiontment-one__appion-btn-box">
                      <button type="submit" class="thm-btn">
                        Appointment Now<span class="icon-plus"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="result"></div>
            </div>
            <div
              class="appiontment-one__working-hour wow slideInRight"
              data-wow-delay="100ms"
              data-wow-duration="2500ms"
            >
              <h3 class="appiontment-one__working-hour-title">Working Hours</h3>
              <p class="appiontment-one__working-hour-text">
                Health care is a vital aspect of maintain overall well-being,
                encompassing a range
              </p>
              <ul class="appiontment-one__working-hour-list list-unstyled">
                <li>
                  <span>Saturday-Sunday</span>
                  <p>9 Am To 5 Pm</p>
                </li>
                <li>
                  <span>Monday-Tuesday</span>
                  <p>1 Pm To 7 Pm</p>
                </li>
                <li>
                  <span>Wednesday-Thusday</span>
                  <p>2 Am To 6 Pm</p>
                </li>
                <li>
                  <span>Friday</span>
                  <p>Off Day</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Appiontment One End -->

<!--FAQ Two Start -->
<section class="faq-two">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="faq-two__left">
          <div
            class="section-title-two text-left sec-title-animation animation-style1"
          >
            <h6 class="section-title-two__tagline">Ask Question</h6>
            <h3 class="section-title-two__title title-animation">
              Your Partner in <br />
              Digital Healthcare
            </h3>
          </div>
          <p class="faq-two__text">
            We’re here to assist with appointments, reminders, emergency services, and more — all from a single platform tailored to your healthcare needs.
          </p>
          <div class="faq-two__btn-box">
            <a href="contact.html" class="thm-btn"
              >Contact Us<i class="icon-call"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="faq-two__right">
          <div
            class="accrodion-grp faq-one-accrodion"
            data-grp-name="faq-one-accrodion-1"
          >
            <div class="accrodion wow fadeInLeft" data-wow-delay="100ms">
              <div class="accrodion-title">
                <div class="faq-two-accrodion__count"></div>
                <h4>How can I schedule an appointment?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    Use our online booking system to schedule appointments with doctors based on specialty, date, and availability — all in just a few clicks.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="accrodion active wow fadeInRight"
              data-wow-delay="200ms"
            >
              <div class="accrodion-title">
                <div class="faq-two-accrodion__count"></div>
                <h4>Can I book emergency ambulance service?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    Yes, we offer fast ambulance bookings with real-time location tracking to ensure quick medical response during emergencies.
                  </p>
                </div>
              </div>
            </div>
            <div class="accrodion wow fadeInLeft" data-wow-delay="300ms">
              <div class="accrodion-title">
                <div class="faq-two-accrodion__count"></div>
                <h4>How do medication reminders work?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    Our system supports multi-dose and flexible medication schedules. Set custom reminders and get notified through email or push (coming soon).
                  </p>
                </div>
              </div>
            </div>
            <div class="accrodion wow fadeInRight" data-wow-delay="400ms">
              <div class="accrodion-title">
                <div class="faq-two-accrodion__count"></div>
                <h4>Can I browse doctors and treatments?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>
                    We’re building a complete directory of doctors and treatments offered by hospitals so you can easily search, view profiles, and book directly.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--FAQ Two End -->

  <!--Newsletter One Start -->
  <!-- <section class="newsletter-one">
    <div class="container">
      <div class="newsletter-one__inner">
        <div class="newsletter-one__img">
          <img src="assets/images/resources/newsletter-one-img-1.png" alt="" />
        </div>
        <div class="newsletter-one__inner-content">
          <div class="newsletter-one__shape-1">
            <img src="assets/images/shapes/newsletter-one-shape-1.png" alt="" />
          </div>
          <div class="newsletter-one__shape-2 float-bob-y">
            <img src="assets/images/shapes/newsletter-one-shape-2.png" alt="" />
          </div>
          <h3 class="newsletter-one__title">
            Subscribe To Our <br />
            Newsletter
          </h3>
          <div class="newsletter-one__form-box">
            <form class="newsletter-one__form">
              <div class="newsletter-one__input">
                <input type="email" placeholder="Enter Your Email" />
              </div>
              <button type="submit" class="thm-btn">Subscribe Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--Newsletter One End -->

<!--Testimonial Two Start -->
<section class="testimonial-two">
  <div class="container">
    <div
      class="section-title-two text-center sec-title-animation animation-style1"
    >
      <h6 class="section-title-two__tagline">Clients Testimonial</h6>
      <h3 class="section-title-two__title title-animation">
        Real Stories, Real Impact <br />
        From Patients & Doctors
      </h3>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="testimonial-two__left">
          <div class="testimonial-two__carousel owl-theme owl-carousel">
            <!--Testimonial Two Single Start -->
            <div class="item">
              <div class="testimonial-two__single">
                <div class="testimonial-two__client-info">
                  <h4 class="testimonial-two__client-name">
                    <a href="testimonials.html">Dr. Sneha Roy</a>
                  </h4>
                  <p class="testimonial-two__client-sub-title">Cardiologist</p>
                </div>
                <div class="testimonial-two__rating">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </div>
                <p class="testimonial-two__text">
                  This platform makes appointment management so much easier for both doctors and patients. It's organized, efficient, and user-friendly.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End -->

            <!--Testimonial Two Single Start -->
            <div class="item">
              <div class="testimonial-two__single">
                <div class="testimonial-two__client-info">
                  <h4 class="testimonial-two__client-name">
                    <a href="testimonials.html">Arjun Mehta</a>
                  </h4>
                  <p class="testimonial-two__client-sub-title">Patient</p>
                </div>
                <div class="testimonial-two__rating">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </div>
                <p class="testimonial-two__text">
                  I booked an ambulance for my father within seconds. The live tracking gave me peace of mind during an emergency. Highly recommend this service!
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End -->

            <!--Testimonial Two Single Start -->
            <div class="item">
              <div class="testimonial-two__single">
                <div class="testimonial-two__client-info">
                  <h4 class="testimonial-two__client-name">
                    <a href="testimonials.html">Nikita Sharma</a>
                  </h4>
                  <p class="testimonial-two__client-sub-title">Diabetic Patient</p>
                </div>
                <div class="testimonial-two__rating">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </div>
                <p class="testimonial-two__text">
                  The medication reminders have helped me stay on track with my treatment. I no longer miss doses and feel much more in control of my health.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End -->
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="testimonial-two__right">
          <div class="testimonial-two__img">
            <img
              src="assets/images/testimonial/testimonial-two-img-1.jpg"
              alt="Happy Patients and Doctors"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Testimonial Two End -->


<%# include('./components/feature-section') %>
