/*==============================================
    Before And After
===============================================*/
.before-and-after {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.before-and-after__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 59px;
}

.before-and-after__top .section-title {
    margin-bottom: 0px;
}

.before-and-after__btn-box {
    position: relative;
    display: block;
}

.before-and-after__btn-box .thm-btn {
    background-color: var(--careon-base);
}

.before-and-after__btn-box .thm-btn::before,
.before-and-after__btn-box .thm-btn::after {
    background-color: var(--careon-black);
}

.before-and-after__img-box {
    position: relative;
    display: block;
}

.before-and-after__img-box .before-after {
    position: relative;
    display: block;
    height: 100%;
}

.before-and-after__img-box .before-after .twentytwenty-container img {
    width: 100%;
}

.before-and-after__img-box .before-after .twentytwenty-horizontal .twentytwenty-before-label:before {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 100px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0px;
    padding: 0px;
    background: transparent;
    z-index: 1;
    transform: rotate(-45deg);
    text-transform: uppercase;
    display: none;
}

.before-and-after__img-box .before-after .twentytwenty-horizontal .twentytwenty-before-label:after {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
}

.before-and-after__img-box .before-after .twentytwenty-horizontal .twentytwenty-after-label:before {
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100px;
    line-height: 140px;
    text-align: center;
    font-size: 16px;
    background: transparent;
    font-weight: 700;
    color: #fff;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    transform: rotate(-45deg);
    z-index: 1;
    text-transform: uppercase;
    display: none;
}

.before-and-after__img-box.before-after .twentytwenty-horizontal .twentytwenty-after-label:after {
    position: absolute;
    content: '';
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.twentytwenty-after-label,
.twentytwenty-before-label {
    opacity: 1 !important;
}


.before-and-after__img-box .twentytwenty-overlay {
    border-radius: 10px
}

.before-and-after__img-holder-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 160px;
    width: 158px;
    overflow: hidden;
    z-index: 1;
}

.before-and-after__img-holder {
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 10px;
    height: 160px;
    width: 158px;
    cursor: pointer;
    z-index: 1;
}

.before-and-after__img-holder:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    border: 4px solid var(--careon-white);
    border-radius: 24px;
    z-index: 1;
    transition: all 500ms ease;
}

.swiper-slide-active .before-and-after__img-holder:before,
.swiper-slide-thumb-active .before-and-after__img-holder:before {
    border: 4px solid var(--careon-base);
}

.before-and-after__img-holder>img {
    width: 100%;
    transition: all 0.5s ease-in-out 0.6s;
    border-radius: 24px;
}












/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/