/*==============================================
    Why Choose One
===============================================*/
.why-choose-one {
    position: relative;
    display: block;
    padding: 111px 0 0;
    z-index: 1;
}

.why-choose-one__left {
    position: relative;
    display: block;
    margin-top: 90px;
}

.why-choose-one__left .section-title-two {
    margin-bottom: 22px;
}

.why-choose-one__progress-list {
    position: relative;
    display: block;
    margin: 31px 0 30px;
}

.why-choose-one__progress-list li {
    position: relative;
    display: block;
}

.why-choose-one__progress-list li+li {
    margin-top: 31px;
}

.why-choose-one__progress {
    position: relative;
    display: block;
}

.why-choose-one__progress-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--careon-black);
    margin-bottom: 11px;
    text-transform: capitalize;
}

.why-choose-one__progress .bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: var(--careon-extra);
    border-radius: 5px;
}

.why-choose-one__progress .bar-inner {
    position: relative;
    display: block;
    width: 0px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--careon-primary);
    -webkit-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.why-choose-one__progress .count-text {
    position: absolute;
    right: -10px;
    bottom: 22px;
    color: var(--careon-black);
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-choose-one__progress .bar-inner.counted .count-text {
    opacity: 1;
}

.why-choose-one__progress .bar.marb-0 {
    margin-bottom: 0;
}

.why-choose-one__btn-and-call-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 65px;
    margin-top: 31px;
}

.why-choose-one__btn-box {
    position: relative;
    display: block;
}

.why-choose-one__call-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.why-choose-one__call-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--careon-primary);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-choose-one__call-icon:hover {
    background-color: var(--careon-base);
}

.why-choose-one__call-icon span {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: var(--careon-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.why-choose-one__call-icon:hover span {
    color: var(--careon-white);
}

.why-choose-one__call-content {
    position: relative;
    display: block;
    flex: 1;
}

.why-choose-one__call-content p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 6px;
}

.why-choose-one__call-content p a {
    color: var(--careon-black);
}

.why-choose-one__call-content p a:hover {
    color: var(--careon-base);
}

.why-choose-one__right {
    position: relative;
    display: block;
    margin-right: 60px;
    margin-left: 37px;
}

.why-choose-one__img {
    position: relative;
    display: block;
}

.why-choose-one__img img {
    width: 100%;
}

.why-choose-one__img-shape-1 {
    position: absolute;
    top: 59%;
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.why-choose-one__img-shape-1>img {
    width: auto;
}

/*--------------------------------------------------------------
# Why Choose Two
--------------------------------------------------------------*/
.why-choose-two {
    position: relative;
    display: block;
    padding: 120px 0 0;
    z-index: 1;
}

.why-choose-two__top {
    position: relative;
    display: block;
    margin-bottom: 59px;
}

.why-choose-two__top-left {
    position: relative;
    display: block;
}

.why-choose-two__top-left .section-title {
    margin-bottom: 0px;
}

.why-choose-two__top-right {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-top: 6px;
}

.why-choose-two__top-btn-box {
    position: relative;
    display: block;
    margin-top: 20px;
}

.why-choose-two__top-btn-box .thm-btn {
    background-color: var(--careon-base);
}

.why-choose-two__top-btn-box .thm-btn::before,
.why-choose-two__top-btn-box .thm-btn::after {
    background-color: var(--careon-black);
}

.why-choose-two__bottom {
    position: relative;
    display: block;
}

.why-choose-two__bottom-list-box {
    position: relative;
    display: block;
}

.why-choose-two__list {
    position: relative;
    display: block;
}

.why-choose-two__list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid var(--careon-bdr-color);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 29px 19px;
}

.why-choose-two__list li .icon {
    position: relative;
    display: inline-block;
}

.why-choose-two__list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 45px;
    color: var(--careon-primary);
    transform: scale(1);
    transition: 500ms ease;
}

.why-choose-two__list li:hover .icon span {
    transform: scale(0.9);
}

.why-choose-two__list li .content {
    position: relative;
    display: block;
    flex: 1;
}

.why-choose-two__list li .content h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 11px;
}

.why-choose-two__img {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.why-choose-two__img::before {
    background: hsla(0, 0%, 100%, 0.5);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    opacity: 1;
    pointer-events: none;
}

.why-choose-two__img:hover::before {
    width: 100%;
    opacity: 0;
    transition: all 0.6s linear;
}

.why-choose-two__img img {
    width: 100%;
    border-radius: 10px;
}


/*--------------------------------------------------------------
# Why Choose Three
--------------------------------------------------------------*/
.why-choose-three {
    position: relative;
    display: block;
    background-color: var(--careon-extra);
    padding: 120px 0 120px;
    z-index: 1;
}

.why-choose-three__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc((100% - 113px) / 2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.why-choose-three__left {
    position: relative;
    display: block;
}

.why-choose-three__left .section-title-three {
    margin-bottom: 22px;
}

.why-choose-three__text {
    margin-bottom: 27px;
}

.why-choose-three__point {
    position: relative;
    display: block;
    z-index: 1;
}

.why-choose-three__point:before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 30px;
    left: 30px;
    border: 1px dashed var(--careon-base);
    z-index: -1;
}

.why-choose-three__point li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.why-choose-three__point li+li {
    margin-top: 51px;
}

.why-choose-three__point-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: var(--careon-base);
    border-radius: 50%;
    top: 4px;
}

.why-choose-three__point-icon span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: var(--careon-white);
    transition: all 500ms linear;
    transition-delay: 0.1s
}

.why-choose-three__point li:hover .why-choose-three__point-icon span {
    transform: scale(0.9);
}

.why-choose-three__point-content {
    position: relative;
    display: block;
    flex: 1;
}

.why-choose-three__point-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-bottom: 13px;
}

.why-choose-three__btn-box {
    position: relative;
    display: block;
    margin-top: 31px;
}

.why-choose-three__btn-box .thm-btn {
    background-color: var(--careon-white);
    color: var(--careon-black);
}

















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/